<div class="container">
  <br>
  <h1>Modifier la sépulture</h1>
  <br>
  <%= simple_form_for @tombstone do |f| %>
    <%= f.input :first_name, label: 'Prénom' %>
    <%= f.input :last_name, label: 'Nom' %>
    <%= f.input :birth_date, label: 'Date de naissance' %>
    <%= f.input :death_date, label: 'Date de décès' %>
    <%= f.input :photo, as: :file%>
    <%= f.button :submit, "Editer la sépulture", class: "btn btn-primary" %>
    <%= link_to "Retour", tombstone_path(@tombstone), class: "btn btn-warning" %>
  <% end %>
</div>
