
<div class= 'container row m-auto w-50 mt-5 mb-2 bg-white p-4 rounded-2 shadow'>
  <h2 class='text-primary text-center'>Enregistrez une nouvelle sépulture</h2>
  <%= simple_form_for @tombstone do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input  :first_name %>
      </div>
      <div class="col">
        <%= f.input  :last_name %>
      </div>
    </div>
    <%= f.input  :photo, as: :file %>
    <%# <%= f.input  :birth_date, start_year: 1800, end_year:2022 %>
    <%# <%= f.input  :death_date, start_year: 1800, end_year:2022 %>


    <div class="row">
  <div class="col">
    <%= f.input :birth_date, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
  </div>
  <div class="col">
    <%= f.input :death_date, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
  </div>

  <div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-action="click->map#clickmap">
    <div class="row">
      <div class="col">
        <%= f.input  :longitude, as: :hidden,
                      input_html: { 'data-map-target': "long" }  %>
      </div>
      <div class="col">
        <%= f.input  :latitude, as: :hidden,
                      input_html: { 'data-map-target': "lat" }  %>
      </div>
    </div>

    <div class="row">
      <div style="width: 100%; height: 500px;">
      </div>
    </div>
  </div>
</div>
<br>

    <%= f.button :submit, "Ajouter la sépulture", class: "btn btn-large btn-primary" %>
    <%= link_to 'Annuler', user_path(current_user), class: 'btn btn-danger' %>

    <% end %>
</div>
