<div class= 'container row m-auto w-50 mt-5 mb-5 bg-white p-4 rounded-4'>
<h1>Créer la nouvelle sépulture</h1>
<p>N'hésitez pas à la partager avec votre famille</p>

  <%= simple_form_for @tombstone do |f| %>
    <%= f.input  :first_name %>
    <%= f.input  :last_name %>
    <%= f.input  :photo, as: :file %>
    <%= f.input  :birth_date, start_year: 1800, end_year:2022 %>
    <%= f.input  :death_date, start_year: 1800, end_year:2022 %>
    <%= f.button :submit, "Ajouter la sépulture", class: "btn btn-large btn-primary" %>
    <%= link_to 'Annuler', user_path(current_user), class: 'btn btn-danger' %>

    <% end %>
</div>
