<div class="container row m-auto mt-5 w-75 p-5 bg-white" >
  <h1 class='text-center text-primary'>Bienvenue sur la sépulture de <%= @tombstone.first_name %></h1>
  
 
    <% if @tombstone.photo.key? %>
      <%= cl_image_tag @tombstone.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="tombstone.png" alt="sepulture">
    <% end %>

  <div class="btn-container row>
    <div>
    <%= link_to "Modifier cette tombe", edit_tombstone_path(@tombstone), class: "btn btn-danger mb-2" %>
    </div>
    <div>
    <%= link_to "Retour au profil", user_path, class: "btn btn-danger mb-2" %>
    </div>
    <div>
    <%= simple_form_for [@tombstone, @order] do |f| %>
      <%= f.submit "Créer une prestation", class: "btn btn-primary" %>
    <% end %>
    </div>

    <% @tombstone.orders.each do |order| %>
      <% if order.accepted? %>
        <%= simple_form_for order do |f| %>
          <%= f.input :progress, value: 'accepted', as: :hidden %>
          <%= f.button :submit, "Valider le prestataire", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Refuse le prestation", order_path(order), class: "btn btn-primary"  %>
       <% end %>
    <% end %>

  <div class="order-statut m-5">
    <h3>Les prestations en cours sur cette tombe:</h3>
  
        <% @tombstone.orders.each do |order| %>
          <h4 >Commande du : <%= link_to order.date, order_path(order) %></h4>
          <p>Commande faite par <strong><%= order.user.first_name %> <%= order.user.last_name  %></strong></p>
          <p>Statut de la commande : <%= order.progress %></p>
          <p> note : <%= order.rating %> <%= order.review %></p>
        <% end %>

  </div>
  <div class="shared-with bg-primary p-2">
    <h4 class='text-white text-center'>Cette tombe est partagé avec</h4>
      <ul>
        <% @tombstone.user_tombstones.each do |user| %>
          <li class='text-white text-center'>
            <%= @user.first_name %> <%= @user.last_name %>
          </li>
        <% end %>
      </ul>
  </div>

</div>
