<div class="container">
  <div class="tomb-info">
  <%= link_to '' ,user_path(current_user), class:" fa-solid fa-arrow-left-long" %>
    <h1 class='text-center text-primary' style="margin-top: 30px">Bienvenue sur la sépulture de <%= @tombstone.first_name %></h1>
  </div>
  <div class="level-one"> <%# open level one img + map %>
    <div class="lone-img">
      <% if @tombstone.photo.key? %>
        <%= cl_image_tag @tombstone.photo.key, class:"img-tomb" %>
      <% else %>
       <%= image_tag asset_path('tombstone.png'), class:"img-tomb"%>
      <% end %>
    </div>
    <div class="lone-map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div><%#  close level one img + map %>
  <div class="level-two">
    <div class="ltwo-info-btn">
      <div class="ltwo-info">
        <h3>Informations <%= link_to '' ,edit_tombstone_path(@tombstone), class:"fa-regular fa-pen-to-square" %></h3>
        <p><strong>Prénom : </strong><%= @tombstone.first_name.capitalize %></p>
        <p><strong>Nom : </strong><%= @tombstone.last_name %></p>
        <p> Date de naissance: <%= @tombstone.birth_date.nil? ? "": @tombstone.birth_date.strftime("%d %m %Y") %></p>
        <p>Date de décés: <%= @tombstone.death_date.nil? ? "": @tombstone.death_date.strftime("%d %B %Y") %></p>
      </div>
      <div class="ltwo-btn">
        <%= simple_form_for [@tombstone, @order] do |f| %>
          <%= f.input :user_tombstone_id, input_html:{value: current_user.find_user_tombstone(@tombstone).id}, as: :hidden  %>
          <%= f.submit "Ajouter une nouvelle prestation", class:"btn btn-add-prest px-5 py-3" %>
        <% end %>
      </div>
    </div>
    <div class="ltwo-meteo"> <%# level two %>
      <h3>Météo sur place</h3>
      <div class="ltwo-meteo-img-info">
        <div class="ltwo-meteo-info">
          <p><%= @data["weather"].first["description"] %></p>
          <p>Température : <%= @data["main"]["temp"].round(1) %> °c</p>
          <p>Ressenti : <%= @data["main"]["feels_like"].round(1) %> °c</p>
          <p>Ville : <%= @data["name"] %></p>
        </div>
        <div class="ltwo-meteo-img">
          <p><strong><%= Date.today.strftime("%d %B %Y") %></strong></p>
          <img src="http://openweathermap.org/img/wn/<%=  @data["weather"].first["icon"] %>@2x.png" alt="">
        </div>
      </div>
      </div>
    </div> <%# close level two%>
    <div class="lthree-accept-order"> <%# open level-three %>
      <h3>Prestation a validé:</h3>
      <% @tombstone.orders.each do |order| %>
        <% if order.accepted? %>
            <div class="accept-order">
              <div class="accept-order-info">
                <h4>Nom de perssone: <%= order.user.first_name%> <%= order.user.last_name %></h4>
                <h5>Tel: <%= order.user.phone %></h5>
              </div>
              <div class="btn-accept-refuse">
                <%= simple_form_for order do |f| %>
                  <%= f.input :progress, value: 'accepted', as: :hidden %>
                  <%= f.button :submit, "Validé", class: "btn-accept" %>
                <% end %>
                <%= link_to "Refusé", order_path(order), class:"btn btn-refuse"  %>
              </div>
            </div>
</div>
<%# ------------------------------------------------------------------------- %>
<div class="container my-container mt-5">
  <div class="tomb-info">
      <h1 class='text-center text-primary'>Bienvenue sur la sépulture de <%= @tombstone.first_name %></h1>
        <p class='back-btn'><%= link_to "Retour au profil", user_path(current_user), class: "btn btn-flat mb-2" %></p>
  </div>
  <div class="photo">
    <% if @tombstone.photo.key? %>
      <%= cl_image_tag @tombstone.photo.key, height: 300, width: 200, crop: :fill %>
    <% else %>
      <%= image_tag asset_path('tombstone.png'), height: 300, width: 400%>
    <% end %>
    <p class="mt-3"><%= link_to "Editer la sépulture", edit_tombstone_path(@tombstone), class: "btn btn-danger mb-2" %></p>
  </div>
  <div class="info">
    <h4>Informations</h4>
      <p><strong>Prénom : </strong><%= @tombstone.first_name %></p>
      <p><strong>Nom : </strong><%= @tombstone.last_name %></p>
      <p><%= @tombstone.birth_date.nil? ? "": @tombstone.death_date.strftime("%d %B %Y") %></p>
      <p><%= @tombstone.death_date.nil? ? "": @tombstone.death_date.strftime("%d %B %Y") %></p>
  </div>
  <div class="text-center">
    <div class="mb-3">
      <%= simple_form_for [@tombstone, @order] do |f| %>
        <%= f.input :user_tombstone_id, input_html:{value: current_user.find_user_tombstone(@tombstone).id}, as: :hidden  %>
        <%= f.submit "Ajouter une nouvelle prestation", class: "btn btn-primary px-5 py-3" %>
      <% end %>
    </div>
      <div class="meteo">
        <h3>Météo sur place</h3>
          <p><%= Date.today.strftime("%d %B %Y") %></p>
            <img src="http://openweathermap.org/img/wn/<%=  @data["weather"].first["icon"] %>@2x.png" alt="">
            <div class="meteo-card">
              <p><%= @data["weather"].first["description"] %></p>
              <p>Température : <%= @data["main"]["temp"].round(1) %> °c</p>
              <p>Ressenti : <%= @data["main"]["feels_like"].round(1) %> °c</p>
              <p>Ville : <%= @data["name"] %></p>
      </div>
    </div>
  </div>
  <div class="geo-map" >
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
  <div class="fil-actualité tombstone" data-controller="tombstone-subscription"
  data-tombstone-subscription-tombstone-id-value="<%= @tombstone.id %>"
  >
    <% @tombstone.orders.each do |order| %>
      <% if order.accepted? %>
        <%= simple_form_for order do |f| %>
          <%= f.input :progress, value: 'accepted', as: :hidden %>
          <%= f.button :submit, "Valider le prestataire", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div> <%# close l- three  %>
    <div class="level-four">
        <div class="mess" data-controller="tombstone-subscription" data-tombstone-subscription-tombstone-id-value="<%= @tombstone.id %>">
          <h3>Actualité</h3>
            <%= simple_form_for [@tombstone, @message],
                html: { data: { action: "turbo:submit-end->tombstone-subscription#resetForm" }, class: "d-flex" } do |f|
            %>
              <%= f.input :content,
                label: false,
                placeholder: "Ecrire un nouveau message",
                wrapper_html: {class: "flex-grow-1"}
              %>
              <%= f.submit "Send", class: "btn btn-primary mb-3" %>
            <% end %>
          <div class="message" data-tombstone-subscription-target="messages">
            <% @tombstone.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
        </div>
      <div class="prest">
        <h3>Historique de Prestations</h3>
        <div class="feed-presta">
          <% @tombstone.orders.each do |order| %>
            <div class="one-presta">
              <h5>Commande du : <%= link_to order.created_at.strftime("%d %B %Y"), order_path(order)%></h5>
              <% @user = UserTombstone.find(order.user_tombstone_id).user %>
                <p>Faite par <strong><%= @user.first_name %> <%= @user.last_name  %></strong></p>
                <p>Date d'intervention <strong><%= order.date.strftime('%d %B %Y') %></strong></p>
                <p>Statut: <%= order.progress %></p>
                <p>note : <%= order.rating %> <%= order.review %></p>
                <div class="presta-img">
                  <% if order.photo.key? %>
                    <%= cl_image_tag order.photo.key %>
                  <% end %>
                </div>
            </div>
          <% end %>

        </div>
      </div>
        </ul>
    </div>
  </div>
  <div class="prestation-en-cours">
    <div class="order-statut m-1">
      <h3>Prestations en cours:</h3>
        <% @tombstone.orders.each do |order| %>
          <h5>Commande du : <%= link_to order.created_at.strftime("%d %B %Y"), order_path(order)%></h5>
            <% @user = UserTombstone.find(order.user_tombstone_id).user %>
              <p>Faite par <strong><%= @user.first_name %> <%= @user.last_name  %></strong></p>
              <p>Date d'intervention <strong><%=order.date.nil? ? "": order.date.strftime("%d %B %Y") %></strong></p>
              <p>Statut: <%= order.progress %></p>
              <p>note : <%= order.rating %> <%= order.review %></p>
              <% if order.photo.key? %>
                <%= cl_image_tag order.photo.key, crop: :fill %>
              <% end %>
        <% end %>
    </div>
</div>
<%# ------------------------------------------------------------------------- %>
