<div class="container">
  <h2>Modifier mes informations</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :avatar, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Confirmer", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Supprimer mon compte</h3>

  <div class="d-flex align-items-center">
    <%= button_to "Supprimer définivement mon compte", registration_path(resource_name), data: { confirm: "Etes vous sure ?" }, method: :delete, class: "btn btn-danger p-3" %>
  </div>

  <%= link_to "Retour", root_path, class: "btn btn-flat" %>

</div>
