<div class="container">
  <div class="mission-style">
    <div class="card-user">
      <h1>Missions en attente</h1>
      <br>
      <% @orders.each do |order| %>
        <% if order.aasm.current_state != :finished %>
            <div class="card-product">
              <% if @tombstone.photo.key? %>
                <%= cl_image_tag @tombstone.photo.key, class:"img-tomb" %>
              <% else %>
                <%= image_tag asset_path('tombstone.png'), class:"img-tomb"%>
              <% end %>
              <div class="card-infos">
                <div class="infos">
                  <% user = UserTombstone.find(order.user_tombstone_id).user %>
                  <h4>Commande de <strong><%= user.first_name %> <%= user.last_name %></strong></h4>
                  <h6>pour le <%= order.date.nil? ? "": order.date.strftime("%d %B %Y") %></h6>
                  <%# <p><%= order.tombstone.latitude <%=order.tombstone.longitude %></p>
                    <% order.order_items.each do |item| %>
                      <li><strong><%= item.prestation.title %></strong></li>
                    <% end %>
                </div>
                <div class="status">
                  <h5 class="statut">Statut</h5>
                        <% if order.aasm.current_state == :accepted %>
                          <div data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title=" En attente de validation"class="statut-pending"></div>
                        <% elsif order.aasm.current_state == :validated %>
                          <div data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title=" Validé" class="statut-accepted"></div>
                          <%= link_to "Terminer", order_finish_path(order) , class: "btn btn-primary btn-valide" %>
                    <% end %>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-user-finish">
    <h1>Missions terminées</h1>
    <br>
       <% @orders.each do |order| %>
        <% if order.aasm.current_state == :finished %>
            <div class="card-product">
              <% if @tombstone.photo.key? %>
                <%= cl_image_tag @tombstone.photo.key, class:"img-tomb" %>
              <% else %>
                <%= image_tag asset_path('tombstone.png'), class:"img-tomb"%>
              <% end %>
            <div class="card-infos">
              <div class="infos">
                <% user = UserTombstone.find(order.user_tombstone_id).user %>
                <h4>Commande de <strong><%= user.first_name %> <%= user.last_name %></strong></h4>
                <h6>effectuée le <%= order.date.nil? ? "": order.date.strftime("%d %B %Y") %></h6>
                <%# <p><%= order.tombstone.latitude <%=order.tombstone.longitude %></p>
                  <% order.order_items.each do |item| %>
                    <li><strong><%= item.prestation.title %></strong></li>
                  <% end %>
              </div>
              <div class="status">
                <h5 class="statut">Statut</h5>
                      <% if order.aasm.current_state == :finished %>
                        <div data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Terminée" class="statut-validated"></div>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
