<div class="container">
  <div class="row">
    <div class="container col-7 mt-2">
    <h2 class="text-primary text-center mt-2 w-100 border-bottom-5 "><%= @user.first_name %> <%= @user.last_name %>, bienvenue sur votre profil </h2>
    <%# <div class="container mt-3">  %>
        <p class='text-para' style="font-size: 18px; font-weight: 300; line-height: 30px; margin-top: 25px;">Suivez en un coup d'oeil tout ce qui se passe sur les tombes de vos proches. Commandez des prestations et suivez leurs avancées grâce aux notifications. Vous pouvez également rechercher des missions proches de chez vous. </p>
        <h2 class="text-primary mt-5 mb-3">Mes sépultures</h2>
        <br>
        <div class="cards w-70">
          <% @tombstones.each do |tombstone| %>

            <% if tombstone.photo.attached? %>
              <%# -----definition variable image-----  %>
              <% image = cl_image_path tombstone.photo.key, height: 200, width: 300, crop: :fill %>
            <% else %>
              <% image = asset_url('tombstone.png') %>
            <% end %>
            <%= link_to tombstone_path(tombstone) do %>
              <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('<%= image %>'); background-size: cover; background-position: center">
                <%# -----badge notification-----  %>
                <% if tombstone.orders.where(:progress => [:pending, :accepted, :validated]).count == 0 %>
                  <div class="badge-visib" style="visibility:hiden">
                  </div>
                <% else %>
                  <div class="batg">
                    <% if tombstone.orders.where(:progress => :accepted).count == 0 %>
                      <p data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Vous avez <%= tombstone.orders.where(:progress => [:pending, :accepted, :validated]).count  %> notifications:" class="badge"><%= tombstone.orders.where(:progress => [:pending, :accepted, :validated]).count %></p>
                    <% elsif tombstone.orders.where(:progress => :accepted).count != 0 %>
                      <p data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Vous avez <%= tombstone.orders.where(:progress => [:pending, :accepted, :validated]).count  %> notifications:" class="badge-orange"><%= tombstone.orders.where(:progress => [:pending, :accepted, :validated]).count %></p>
                    <% end %>
                  </div>
                <% end %>
              </div>
             <h4 class="name-user m-2"><%= tombstone.first_name %> <%= tombstone.last_name %></h4>
            <% end %>
          <% end %>

          <%# <p data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ajoutez une tombe" class="tooltip-ajout" style="text-align: center; color: lightgrey; position: relative; background-color: AliceBlue; border-radius: 16px; height: 182px;"</p> %>
          <p data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ajoutez une tombe" class="card-sup" style="border-radius: 16px; height: 183px; border: dotted 5px #F9DA56;">
          <%= link_to "", new_tombstone_path, class: "fa-solid fa-circle-plus fa-xl" %></p>
        </div>

        </div>


    <div class="container col-4" style="text-align: center;">
            <div class="container-btn mt-3" style="padding: 50px; border-radius: 16px">
          <%= link_to "Rechercher des missions", provider_orders_path, class:"btn btn-info rounded-4 fs-6 w-100 m-2" %>

          <%= link_to "Voir mes missions", my_missions_path, class: "btn btn-primary rounded-4 fs-6 w-100 m-2" %>
        </div>
      <div class="geo-map-users w-100 mt-5" style="margin-bottom: 80px" >
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
