
<div class="container">
  <div class="row">
    <%# stylessheets/componements/_card-orders.scss%>
    <div class="container col-lg-5 mt-2">
      <h1 class="text-primary">Demandes de prestation</h1>

        <% @orders.each do |order| %>
            <div class="card-product">
              <%= image_tag asset_path('avatar-fille.png') %>
              <div class="card-infos">
                <div class="infos">
                  <% user = UserTombstone.find(order.user_tombstone_id).user %>

                  <h5>Demandé par : </br><strong><%= user.first_name %> <%= user.last_name %></strong></h5>
                  <a>le <%= order.date %> </a>
                  <p>adresse : <%= order.tombstone.latitude%> <%=order.tombstone.longitude %></p>
                </div>
                

                <%= link_to "Details", provider_order_path(order), class:"btn-details" %>   

              </div>
            </div>
        <% end %>

      <div class="container col-lg-5 mt-3 border">
          <p class="text-center mt-3">Filtrer suivant ma géolocalisation</p>
          <br>
          <div class="geo-map">
          <div style="width: 100%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
      </div>

    </div>
  </div>
</div>
