<h1>Provider::Orders#show</h1>
<p>Find me in app/views/provider/orders/show.html.erb</p>
<div class="container">
  <div class="show-map">
    <div id="show">
         <%= image_tag "tombstone.png", class: "img" %>
        <div class="info">
          <div class="text">
            <h4><strong><%= @order.user.first_name %> <%= @order.user.last_name %></strong></h4>
            <%= @order.date %>
            <% sum = 0 %>
            <h5>Prestation:</h5>
            <% @order.order_items.each do |order_item|%>
              <li><%= order_item.prestation.title %> - <%= order_item.price %>,00€</li>
              <% sum = sum + order_item.price %>
            <% end %>
          </div>
          <div class="total">
             <h5>Total: <strong><%= sum %>,00€</strong></h5>
             <br>
              <%= simple_form_for [:provider, @order] do |f| %>
                <%= f.input :progress, value: 'pending', as: :hidden %>
                <%= f.button :submit, "Valider les prestations", class: "btn btn-primary" %>
              <% end %>
          </div>
        </div>
    </div>
    <div class="map">
    <h1>Map</h1>
    </div>
  </div>
  <div class="details">
    <h1>Details of tombstone</h1>
    <h4><%= @order.tombstone.first_name %> <%= @order.tombstone.last_name %></h4>
    <p>Birthday: <%= @order.tombstone.birth_date%></p>
    <p>Death date: <%= @order.tombstone.death_date%></p>
    <% @order.order_items.each do |order_item|%>
      <% if order_item.details.length > 0%>
        <p>Details: <%= order_item.details%></p>
      <% end %>
    <% end %>
  </div>
</div>
