<div class="container">
  <div class="tomb-info">
    <h1 class='text-center text-primary' style="margin-top: 30px">Prestation demandée pour la sépulture de <%= @order.tombstone.first_name %> <%= @order.tombstone.last_name %></h1>
  </div>
  <div class="level-one"> <%# open level one img + map %>
    <div class="lone-img">
      <% if @order.tombstone.photo.key? %>
        <%= cl_image_tag @order.tombstone.photo.key, class:"img-tomb" %>
      <% else %>
       <%= image_tag asset_path('tombstone.png'), class:"img-tomb"%>
      <% end %>
    </div>
    <div class="lone-map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div><%#  close level one img + map %>
  <div class="level-fl">
    <div class="heyy">
      <div class="my-card-product">
      <div class="mini-card-1">
                <div class="order-date">
                  <h4 class="text-center">Date : </h4>
                  <p><%= @order.date.nil? ? "": @order.date.strftime('%d %B %Y') %></p>
                </div>
              <ul class="prestation-list">
                <% sum = 0 %>
                <% @order.order_items.each do |order_item|%>
                  <li>
                    <%= order_item.prestation.title %><br>
                      <% if order_item.details != nil && order_item.details!= ""%>
                        <%='Details de la prestation :'%><%= order_item.details %>
                      <% end %>
                  </li>
                  <% sum = sum + order_item.price %>
                <% end %>
              </ul>
              <div class="prix">
                <h5 class="prix prix-total"><strong>Total</strong></h5>
                  <p><%= sum %>,00€</p>
              </div>
      </div>
      <div class="mini-card-2">
          <div class="okok">
              <% user = UserTombstone.find(@order.user_tombstone_id).user %>
            <h4 class="text-center">Informations complémentaires</h4>
              <div class="order-foot-card">
                <div class="tomb-stone">
                  <h6><strong>Sépulture</strong></h6>
                    <p><strong><%= @order.tombstone.first_name.capitalize %> <%= @order.tombstone.last_name %></strong></p>
                    <p><%= @order.tombstone.birth_date.nil? ? "": @order.tombstone.birth_date.strftime("%d %B %Y") %></p>
                    <p><%= @order.tombstone.death_date.nil? ? "": @order.tombstone.death_date.strftime("%d %B %Y") %></p>
                </div>
                <div class="prestataire-info">
                  <h6><strong>Responsable</strong></h6>
                  <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
                  <p><%= user.email %></p>
                  <p><%= user.phone %></p>
                  <p></p>
                </div>
              </div>
      </div>

      </div>


          </div>
    </div>
    </div> <%# close level two%>
    <div class="orders-buttons text-center">
      <%= simple_form_for [:provider, @order] do |f| %>
      <%= f.input :progress, value: 'pending', as: :hidden %>
      <%= f.button :submit, "Faire cette mission", class: "btn btn-info rounded-4 fs-6" %>
      <%= link_to "Retour aux prestations", provider_orders_path, class: "btn btn-primary rounded-4 fs-6 ms-2" %>
    <% end %>
    </div>
</div>
