<div class="container">
  <div class="tomb-info">
    <h1 class='text-center text-primary' style="margin-top: 30px">Prestation demandé pour la sépulture de <%= @order.tombstone.first_name %> <%= @order.tombstone.last_name %></h1>
  </div>
  <div class="level-one"> <%# open level one img + map %>
    <div class="lone-img">
      <% if @order.tombstone.photo.key? %>
        <%= cl_image_tag @order.tombstone.photo.key, class:"img-tomb" %>
      <% else %>
       <%= image_tag asset_path('tombstone.png'), class:"img-tomb"%>
      <% end %>
    </div>
    <div class="lone-map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div><%#  close level one img + map %>
  <div class="level-fl">
    <div class="heyy">
      <div class="ltwo-info my-card-product">
        <h4 class="text-center">Deamande pour le  <%= @order.date.strftime('%d %B %Y') %></h4>
          <ul class="prestation-list">
            <% sum = 0 %>
            <% @order.order_items.each do |order_item|%>
              <li>
                <%= order_item.prestation.title %> - <%= order_item.price %>,00€ <br>
                  <% if order_item.details != nil && order_item.details!= ""%>
                    <%='Details de la prestation :'%><%= order_item.details %>
                  <% end %>
              </li>
              <% sum = sum + order_item.price %>
            <% end %>
          </ul>
          <div class="prix">
            <h5 class="prix prix-total"><strong>Total</strong></h5>
              <p><%= sum %>,00€</p>
          </div>
              <% user = UserTombstone.find(@order.user_tombstone_id).user %>
      </div>
          <div class="okok">
            <h5 class="text-center">Informations complémentaires</h5>
              <div class="order-foot-card">
                <div class="tomb-stone">
                  <h6><strong>Sépulture au nom de:</strong></h6>
                    <p><%= @order.tombstone.first_name.capitalize %> <%= @order.tombstone.last_name %></p>
                    <p><%= @order.tombstone.birth_date.strftime("%d %B %Y") %></p>
                    <p><%= @order.tombstone.death_date.strftime("%d %B %Y") %></p>
                </div>
                <div class="prestataire-info">
                  <h6><strong>Contactez le responsable de la sépulture</strong></h6>
                  <p> <strong><%= user.first_name %> <%= user.last_name %></strong></p>
                  <p><%= user.email %></p>
                  <p><%= user.phone %></p>
                  <p></p>
                </div>
              </div>
          </div>
    </div>
    </div> <%# close level two%>
    <div class="orders-buttons text-center">
      <%= simple_form_for [:provider, @order] do |f| %>
      <%= f.input :progress, value: 'pending', as: :hidden %>
      <%= f.button :submit, "Faire cette mission", class: "btn btn-primary btn-accept px-5 py-3" %>
      <%= link_to "Retour aux prestations", provider_orders_path, class: "btn btn-flat btn-accept ms-2 px-5 py-3" %>
    <% end %>
    </div>
</div>
