<div class="container">
  <div class="row">
    <%# stylessheets/componements/_card-orders.scss%>
    <div class="container col-lg-5 mt-2">

      <h1 class="text-primary my">Details de la prestation</h1>
        <%= image_tag "tombstone.png", class: "img" %>

      <div class="card-product">
        <div class="card-infos">
          <div class="infos">
            <% user = UserTombstone.find(@order.user_tombstone_id).user %>
            <h4>Commande effectuée par : <strong><%= user.first_name %> <%= user.last_name %></strong></h4>
            <p>Date d'intervention désirée le <strong><%= @order.date.nil? ? "": @order.date.strftime('%d %B %Y') %></strong></p>
            <% sum = 0 %>
              <h5 class="text-primary mt-3">Details des prestations :</h5>
              <ul class="prestation-list">
                <% @order.order_items.each do |order_item|%>
                  <li>
                    <%= order_item.prestation.title %> - <%= order_item.price %>,00€ <br>
                    <% if order_item.details != nil && order_item.details!= ""%>
                      <%='Details de la prestation :'%><%= order_item.details %>
                    <% end %>
                  </li>
                  <% sum = sum + order_item.price %>
                <% end %>
              </ul>

            <h5>Total de la prestation : <strong><%= sum %>,00€</strong></h5>
            <%= simple_form_for [:provider, @order] do |f| %>
              <%= f.input :progress, value: 'pending', as: :hidden %>
              <%= f.button :submit, "Accepter", class: "btn btn-primary btn-accept" %><%= link_to "Retour", :back, class: "btn btn-danger btn-accept ms-2" %>
            <% end %>
            <div class="info-tombe border p-2 mt-4 text-center">
              <h4 class="text-center m-2">Informations sur la tombe</h4>
              <h4><%= @order.tombstone.first_name %> <%= @order.tombstone.last_name %></h4>
              <a><%= @order.tombstone.birth_date.nil? ? "": @order.tombstone.birth_date.strftime("%d %B %Y") %> - <%= @order.tombstone.death_date.nil? ? "": @order.tombstone.death_date.strftime("%d %B %Y") %></a>
              <% @order.order_items.each do |order_item|%>
                <% if order_item.details.length > 0%>
                  <div>
                    <a>Adresse : </a>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-lg-5 mt-3 border">
          <p class="text-center mt-3"></p>
            <div style="width: 100%; height: 600px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
      </div>
