<div class="container">

<h1>Choix des prestations</h1>
<br>
<p>Validez chacune des prestations désirées et validez la selection pour terminer.</p>

<br>

<%= simple_form_for [@order, OrderItem.new] do |f| %>
  <%= f.input :prestation_id, as: :select, collection: @prestations = Prestation.all,label: 'Prestation *' %>
  <%= f.input :details, label: 'Détails (donnez nous des précisions)' %>
  <%= f.input :price, label: 'Prix de la prestation' %>

  <%= f.button :submit, "Valider cette prestation", class: "btn btn-primary" %>
<% end %>
<br>
  <div class="card text-center">
    <% @order.order_items.each do |order_item| %>
    <li class="list-group-item">
    <ul> <strong><%= order_item.prestation.title %></strong> : <%= order_item.price %> euros </ul>
      <ul><%= order_item.prestation.content %></ul>
      <ul><% if order_item.details != nil && order_item.details!= ""%> <%='Details de la prestation :'%> <%= order_item.details %>
          <% end %></ul>
      <ul><%= button_to "Retirer la prestation", order_item, class: "btn btn-warning", method: :delete %></ul>
      <br>
    </li>
    <% end %>
  </div>
  <div class="card">
    <h2>Total de votre commande : </h2>
    <% @sum = 0 %>
    <% @order.order_items.each do |order_item| %>
    <% @price = order_item.price %>
    <% @sum += @price %>
    <% end %>
    <%= @sum %>
    euros
  </div>

<br>


  <%= simple_form_for @order do |f| %>
  <%= f.input :progress, value: 'pending', as: :hidden %>

  <div class="col">
    <%= f.input :date, as: :string, label: "Date d'intervention souhaitée *",
                input_html: { data: { controller: "flatpickr" } } %>
  </div>
  <br>
  <%= f.button :submit, "Valider la selection", class: "btn btn-primary" %>
  <%= button_to "Annuler", @order, class: "btn btn-warning", method: :create %>
<% end %>

</div>
