<div class="banner">
  <div class="container">
    <h1 id="banner-txt">Infinity</h1>
    <br>
    <h2 class ='text-white shadow-sem'>Rendre hommage à nos proches, en toute sérennité </h2>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Demander une prestation", user_path(current_user), class: "btn btn-flat" %>
    <% else %>
      <%= link_to "Demander une prestation", user_session_path, class: "btn btn-flat" %>
    <% end %>
    <br>
    <br>
      <%= link_to "Effectuer une prestation", provider_orders_path, class: "btn btn-primary" %>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
         <%= image_tag asset_path('proche.png'), class: "image-home" %>
        <div class="card-body">
          <p class="card-text">Suivez l'actualité des tombes des défunts avec vos proches</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card"  >
         <%= image_tag asset_path('arrose-les-plantes.png'), class: "image-home" %>
        <div class="card-body">
          <p class="card-text">Commandez des prestations à distance : entretien, dépose de fleurs, arrosage, demandes particulières</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
        <%= image_tag asset_path('calme.png'), class: "image-home"%>
        <div class="card-body">
          <p class="card-text">Offrez de la serenité en devenant prestataire à votre tour</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-clients">
    <h1 style="text-align: center">Nous clients</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-client">
        <div class="card-client">
          <h5 class="rating">4,9 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Alex</h5>
          </div>
          <br>
            <p class="card-client-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,5 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Sophie</h5>
          </div>
          <br>
            <p class="card-client-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,8 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Franci</h5>
          </div>
          <br>
            <p class="card-client-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="cards-client">
        <div class="card-client">
          <h5 class="rating">4,6 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Alex</h5>
          </div>
          <br>
            <p class="card-client-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-client">
          <h5 class="rating">5 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Sophie</h5>
          </div>
          <br>
            <p class="card-client-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,9 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Franci</h5>
          </div>
          <br>
            <p class="card-client-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

</div>
</div>
