<div class="banner">
  <div class="container">
    <h1 id="banner-txt">Infinity</h1>
    <br>
    <h2 class ='text-white shadow-sem'>Rendre hommage à nos proches, en toute sérénité</h2>
    <br>
    <div style="border-left: 3px solid white;" class="bg-opacity-50">
      <h5 class ='text-white shadow-sem mx-4'>Commandez des prestations à distance pour prendre soin des sépultures de vos proches.</h5>
      <h5 class ='text-white shadow-sem mx-4'>Devenez prestataire pour effectuer des missions autour de vous.</h5>
    </div>
      <% if user_signed_in? %>
        <%= link_to "Demandez une prestation", user_path(current_user), class: "btn btn-flat rounded-4 fs-6 border-left my-4 btn-lg" %> <%= link_to "Devenez prestataire", provider_orders_path, class: "btn btn-primary rounded-4 fs-6 mx-4 my-4 btn-lg" %>
      <% else %>
        <%= link_to "Demandez une prestation", user_session_path, class: "btn btn-flat rounded-4 fs-6 border-left my-4 btn-lg" %> <%= link_to "Devenez prestataire", provider_orders_path, class: "btn btn-primary rounded-4 fs-6 mx-4 my-4 btn-lg" %>
      <% end %>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
        <%= image_tag asset_path('proche.png'), class: "image-home" %>
        <div class="card-body">
        <br>
          <p class="card-text"><strong>Suivez toute l'actualité des tombes de défunts avec vos proches</strong></p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card"  >
        <%= image_tag asset_path('arrose-les-plantes.png'), class: "image-home" %>
        <div class="card-body">
        <br>
          <p class="card-text"><strong>Commandez à distance toutes les prestations de votre choix et fixez en le prix</strong></p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
        <%= image_tag asset_path('calme.png'), class: "image-home"%>
        <div class="card-body">
          <br>
          <p class="card-text"><strong>Offrez de la serenité en devenant prestataire à votre tour</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-clients">
    <h1 style="text-align: center">Ils parlent de nous</h1>
    <br>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-client">
        <div class="card-client">
          <h5 class="rating">4,9 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Alexandre</h5>
          </div>
          <br>
            <p class="card-client-text">'Moi qui suis loin de mes proches et plutôt anxieux dans un cimetière, la solution infinity me permet d'être enfin serein'</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,5 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Joëlle</h5>
          </div>
          <br>
            <p class="card-client-text">'Grâce à l'application je peux m'organiser avec ma famille pour l'entretien et le fleurissement. Merci !'</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,8 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Françoise</h5>
          </div>
          <br>
            <p class="card-client-text">'Une application humaine et de qualité, qui simplifie notre quotidien.'</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-client">
        <div class="card-client">
          <h5 class="rating">4,9 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Lucas</h5>
          </div>
          <br>
            <p class="card-client-text">'Vous avez réussi à me rendre serein sur un sujet sur lequel je ne l'étais pas. Merci!'</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,6 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Marie</h5>
          </div>
          <br>
            <p class="card-client-text">'Je commande régulièrement des prestations et je vois tout ce qui se passe. Ce service me simplifie la vie.'</p>
        </div>
        <div class="card-client">
          <h5 class="rating">4,9 <i class="fa-solid fa-star"></i></h5><br><br><br>
          <div class="text">
            <%= image_tag asset_path('user.png'), class: "avatar" %>
            <h5 class="card-client-title">Jean</h5>
          </div>
          <br>
            <p class="card-client-text">'Un service de qualité, où nous pouvons demander ce que nous voulons et en fixer nous même le prix. Une application humaine!'</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

</div>
</div>
